body {
    margin: 0 auto;
    align-items: center;
}

.navbar{
    background-color: #ffe600;
}

.main-container {
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

.efectivo {
    color: green;
}
